/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


body {
  margin-left: 90px;
  margin-right: 90px;
  font-family: Open-sans, sans-serif;
}
h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
}

h1 {
  font-size: 30px;

}

h2 {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0;
}
.padded {
  padding: 30px 0;
}


.wrapper-grey-featured {
  background: #f7f7f7;
}


#carousel {
  h2 {
    font-size: 32px;
    margin-bottom: 70px;
    font-weight: bold;
  }
}


#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
  text-align: center;
  border: none;
}
#fade-quote-carousel .profile-circle {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 100px;
}



.img-responsive {
  margin-top: 20px;
}

.container-carousel {
  margin-top: 45px;
  margin-bottom: 45px;
}

.get-news {
  margin-top: 30px;
  margin-bottom: 30px;
}


.carousel-inner blockquote {
  font-weight: lighter !important;
  text-align: justify;
}



