@import "alert";
@import "avatars";
@import "badges";
@import "map";



.form-inline{
    padding-top: 20px;
    padding-bottom: 20px;
}

.home_title{
  font-size: 25px;
  font-weight: bold;
}

.container{
  padding-top: 30px;
  padding-bottom: 0px;
}

.container-1{
  padding-top: 30px;
  padding-bottom: 10px;
  border: 0.5px solid rgba(0, 0, 0, 0.075);
}


.container-2{
  padding-top: 30px;
  padding-bottom: 0px;
  border: 0.5px solid rgba(0, 0, 0, 0.075);
}




